@import "../../vars.css";

  .container {
    position: relative;
    background-color: rgba(12, 12, 12, 0.6);
    border-radius: 15px;
    padding: 5vw;
    margin-top: 10vh;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 30px;
    text-align: center;
  }

  .content {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content:space-between;
    flex-wrap: wrap; 
  }

.title {
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 10mm;
  }

.profile{
    color: white;
}
.profile p{
    font-size: 22px;
}
.profileItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 17px;
    background: #19376d;
    background: linear-gradient(90deg, #19376d 0%, rgba(25, 55, 109, 0) 100%);
    border-radius: 10px;
    padding: 15px;
    text-align:left;
  }
.profileItem p {
    font-size: 25px;
}

.content p{
    font-size: 29px;
    align-items: center;
    text-align: center;
}

.details {
    margin-bottom: 50px;
  }
  
  @media screen and (max-width: 425px) {
    .container {
      background-color: transparent;
      padding-left: 0;
      padding-right: 0;
      text-align: center;
    }
  
    .content {
      flex-direction: column;
      flex-wrap: wrap;
    }
  
    .profileItems {
      margin-top: 29px;
    }
  
    .profileItem {
      padding-left: 0;
      padding-right: 0;
      word-wrap: break-word; 
      overflow-wrap: break-word; 
      max-width: 90%;
      border-radius: 10px;
    }
    .profileItem p, 
    .profileItem h1, 
    .profileItem h2 {
        font-size: clamp(1rem, 4vw, 1.8rem); 
        line-height: 1.5;
       }
  }
